@import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

html, body, form, fieldset, table {
	font: 100% 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	margin-left: 1em;
	color: #333;
	background: #fff;
	font-size: 1em;
	line-height: 1.4em;
}

a {
	color: #204090;
}

a:focus, a:hover {
	outline: none;
	background-color: #005010;
	color: #ffd;
	border: none;
}

nav ul {
	padding: 5px;
	border: 1px solid #000;
	margin-bottom: 25px;
	margin-left: 0;
	display: inline;
 }
 
 nav ul li {
	margin-left: 0;
	padding: 3px 15px;
	border-left: 1px solid #000;
	list-style: none;
	display: inline;
 }
 
 nav ul li:first-of-type {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
 }